body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #dbeafe, #eff6ff);
  min-height: 100vh;
  color: blue;
}

#root {
  min-height: 100vh;
}

.app {
  min-height: 100vh;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  text-align: center;   /* anni middle lo ravadaniki */
}

/* Login container */
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.login-box {
  background: white;
  width: 420px;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  text-align: center;
}

.login-box h1 {
  color: blue;
  font-size: 32px;
  margin-bottom: 15px;
}

.login-box h2 {
  color: #1565c0;
  font-size: 24px;
  margin-bottom: 20px;
}

.login-box form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}

.login-box input,
.login-box select,
.login-box button {
  width: 90%;
  padding: 12px;
  font-size: 16px;
  box-sizing: border-box;
}
.form-container {
  background: white;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.form-container h2 {
  color: blue;
  margin-bottom: 20px;
}

.form-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.form-container input,
.form-container button {
  width: 90%;
  max-width: 350px;
  padding: 12px;
  font-size: 16px;
  box-sizing: border-box;
}

.form-container button {
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.form-container button:hover {
  background-color: #218838;
}
